.about {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  scroll-margin-top: 20rem;
}

.about .about__left {
  max-width: 40rem;
  flex: 1;
  border: 3 pix solid black;
  border-color: #000000;
  padding: 2rem 2rem 2rem 6rem;
  border-radius: 10%;
  border-left: -2rem;
  background: var(--alt);
}

.about .about__left p {
  margin: 1rem 0 2rem;
}

.about .about__left ul {
  margin-left: -1.2rem;
}

.about .about__left ul li {
  display: inline-block;
}

.about .about__left ul li a {
  display: inline-block;
  padding: 1rem;
}

.about .about__right {
  flex: 1;
  max-width: 66rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.social-links li {
  height: 3rem;
}

.social-links svg {
  margin-top: 0.3rem;
  transition: 300ms;
}

.social-links li:nth-child(2) svg {
  width: 2.7rem;
  height: 2.7rem;
}

.social-links svg:hover {
  margin-top: 0;
  margin-bottom: 0.3rem;
}

body .social-links li svg path {
  transition: 200ms;
}

body nav#navigation .social-links li:nth-child(1) svg:hover path,
body .social-links li:nth-child(1) svg:hover path {
  stroke: #ff377a;
}

body .social-links li:nth-child(2) svg:hover path:nth-child(2),
body nav#navigation .social-links li:nth-child(2) svg:hover path:nth-child(2) {
  fill: #ffffff;
}

body .social-links li:nth-child(3) svg:hover path:nth-child(2),
body nav#navigation .social-links li:nth-child(3) svg:hover path:nth-child(2) {
  fill: #0a66c2;
}

body .social-links li:nth-child(4) svg:hover path:nth-child(2),
body nav#navigation .social-links li:nth-child(4) svg:hover path:nth-child(2) {
  fill: #1877f2;
}


@media only screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .about .about__left {
    max-width: 66rem;
    text-align: center;
  }

  .about .about__right {
    text-align: center;
  }
}
