header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  scroll-margin-top: 20rem;
}

header .header__left {
  max-width: 62rem;
  flex: 1;
  margin-top: 15rem;
}

header .header__left p {
  margin-top: 2rem;
  margin-bottom: 4rem;
  max-width: 50rem;
}

header .header__right .header__image {
  position: relative;
  line-height: 0;
}

 header .content p {
  display: inline-flex;

  font-size: 2.5rem;
  line-height: 150%;
  font-weight: bold;

  margin-bottom: 3.2rem;
}

header .header__left .line {
  border-right: 0.2rem solid var(--primary-color);
  white-space: nowrap;
  overflow: hidden;
}

header .header__left .typing {
  animation: line-typing 500ms steps(40) infinite normal,
    typing 2s steps(40) 3s normal backwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 27.5rem;
  }
}

@keyframes line-typing {
  from {
    border-right-color: var(--primary-color);
  }
  to {
    border-right-color: transparent;
  }
}

header .header__right{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  animation: flutuar 3s infinite backwards;
  position: relative;
}

@keyframes flutuar {
  0% {
    transform: translateY(2rem);
  }
  50% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(2rem);
  }
}
header .box .button {
  background: none;
  border: 0.2rem solid var(--primary-color);

  margin-bottom: 6rem;
  padding: 1.4rem 3rem;

  margin-bottom: 6rem;
  padding: 1.4rem 3rem;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border-radius: 0.5rem;

  width: 25%; 

  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  position: relative;

  transition: 400ms;
}
header .box .button:hover {
  color: #fff;
  background-color: var(--primary-color);
  border: 0.2rem solid var(--black);
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column-reverse;
    text-align: center;
  }

  header .header__left p {
    margin: 2rem auto 4rem;
  }
  header .box .button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}
header .header__left {
  margin-top: 0;
}
header .header__right {
  margin-top: 0;
}

}




